*

# Mono-repo
!.gitignore
!README.md
!docker-compose.yml
!develop.sh

# Frontend
!frontend/
!frontend/.dockerignore
!frontend/.eslintignore
!frontend/Dockerfile
!frontend/tsconfig.json
!frontend/webpack.config.js
!frontend/package-lock.json
!frontend/package.json
!frontend/public/
!frontend/public/**
!frontend/src/
!frontend/src/**
!frontend/docker/
!frontend/docker/**

# Backend
!backend/
!backend/.dockerignore
!backend/Dockerfile
!backend/symfony.lock
!backend/composer.lock
!backend/composer.json
!backend/public/
!backend/public/**
!backend/src/
!backend/src/**
!backend/config/
!backend/config/**
!backend/bin/
!backend/bin/**
!backend/docker/
!backend/docker/**

# NGINX
!nginx/
!nginx/default.conf

# Docker
!docker-compose/
!docker-compose/**