*

# Mono-repo
!.gitignore
!README.md
!docker-compose.yml

# Frontend
!frontend/
!frontend/.dockerignore
!frontend/Dockerfile
!frontend/tsconfig.json
!frontend/webpack.config.js
!frontend/package-lock.json
!frontend/package.json
!frontend/public/
!frontend/public/*
!frontend/src/
!frontend/src/*

# Backend
!backend/
!backend/.dockerignore
!backend/Dockerfile
!backend/symfony.lock
!backend/composer.lock
!backend/composer.json
!backend/public/
!backend/public/*
!backend/src/
!backend/src/*
!backend/config/
!backend/config/*
!backend/bin/
!backend/bin/*
